on early-init
    mkdir /firmware 0771 system system

on fs
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion
    install_keyring

    wait /dev/block/platform/soc.0/7824900.sdhci/by-name/persist
    mount ext4 /dev/block/platform/soc.0/7824900.sdhci/by-name/persist /persist nosuid nodev barrier=1
    restorecon_recursive /persist
    mkdir /persist/data 0700 system system

    wait /dev/block/platform/soc.0/7824900.sdhci/by-name/modem
    mount vfat /dev/block/platform/soc.0/7824900.sdhci/by-name/modem /firmware ro shortname=lower,uid=1000,gid=1000,dmask=227,fmask=337,context=u:object_r:firmware_file:s0
    symlink /firmware/image /vendor/firmware

    setprop crypto.ready 1
    setprop ro.board.platform msm8937

service sbinqseecomd /sbin/qseecomd
    user root
    group root
    disabled
    seclabel u:r:recovery:s0

service hwservicemanager /sbin/hwservicemanager
    user root
    group root
    disabled
    onrestart setprop hwservicemanager.ready false
    seclabel u:r:recovery:s0

service servicemanager /sbin/servicemanager
    user root
    group root readproc
    disabled
    seclabel u:r:recovery:s0

service keystore_auth /sbin/keystore_auth
    oneshot
    user system
    group root
    disabled
    seclabel u:r:recovery:s0

service keystore /sbin/keystore /data/misc/keystore
    user root
    group root drmrpc readproc
    disabled
    seclabel u:r:recovery:s0

service gatekeeper-1-0 /sbin/android.hardware.gatekeeper@1.0-service
    user root
    group root
    disabled
    seclabel u:r:recovery:s0


on property:crypto.ready=0
    stop sbinqseecomd
    stop gatekeeper-1-0
    stop hwservicemanager
    stop keystore
    stop servicemanager

on property:crypto.ready=1
    start sbinqseecomd

on property:sys.listeners.registered=true
    start hwservicemanager
    start gatekeeper-1-0
    start servicemanager
